@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin: 10px 30px;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

button {
    background: none;
    border-radius: 25px;
    padding: 13px 20px;
    border: 1px solid #ddd;
}


.spacer-1 {
    margin: 0 10px;
}

.ta-link a {
    padding: 13px 20px;
}

.ta-link a:hover {
    background: #ddd;
    border-radius: 25px;
    padding: 13px 20px;
    color: #000;
}

.tr-links a {
    color: #000;
}

.pr-1 {
    padding-right: 10px;
}

.curve-border {
    border-radius: 50px;
    border: 1px solid #ddd;
}

.search {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.search li {
    padding: 12px 55px;
    list-style: none;
    position: relative;
}

.search li:last-child {
    padding-right: 0;
}

.font-1 {
    font-size: 11px;
    color: #000;
    font-weight: 500;
}

.font-2 {
    font-size: 15px;
    color: #6e6e6e;
    font-weight: 500;
}

.s-icon {
    background: #ff385c;
    color: #fff;
    padding: 13px;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.v-line {
    border-left: 1px solid #ddd;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 10px;
}

.mt-1{
    margin-top: 1.5rem;
}
.mt-2{
    margin-top: 2.5rem;
}
.h-line {
    border-top:1px solid #ddd;
    width: 100%;
}
.icons ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
    padding: 0;
    width: 65%;
    flex-wrap: wrap;
}
.icons li {
    list-style: none;
    text-align: center;
    border-bottom:1px solid #fff;
   
    text-align: center;
}
.icons li:hover {
    border-bottom:1px solid #000;
}
.icons li img{

    width:20px;
}
.icons li a {
    font-size:12px;
    color:#585757;
 
    font-weight:500;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
    top:-2px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    top:5px;
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .card-container {
    width: 270px;
    padding: 10px;
    position:relative;
  }
  .card-img {
    width: 100%;
    border-radius: 8px;
}
.card-container h2 {
    font-size:18px;
    font-weight: 500;
    margin:0;
    padding:5px 0;
}
.card-container p {
    font-size:12px;
    color:#a7a7a7;
    font-weight: 400;
    margin:0;
    padding:1px 0;
}
.card-container a strong {
    color:#000;
}
.card-container a {
    font-size:12px;
    color:#a7a7a7;
    font-weight: 400;
    margin:0;
    padding:1px 0;
    text-decoration: underline;
}

.card-container .fa-heart-o {
    position:absolute;
    right:20px;
    top:20px;
    color:#fff;
    font-size:20px;
}

.showmap {
    position: sticky;
    bottom: 40px;
    background: #000;
    color: #fff;
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top:0;
}

.footer ul {
    margin:0;
    padding:0;
}
.footer li{
    display: block;
    padding:5px 0;
}

.footer h2 {
    font-size:15px;
    color:#000;
    font-weight:500;
}
.footer li a{
font-size:13px;
font-weight:400;
color:#585757;
padding:4px 0;
}
.footer li a:hover {
    text-decoration: underline;
}

.footer-bottom, .footer-bottom a{
    font-size:12px;
    padding:15px 0;
}
.footer-bottom i{
    color:#000;
    margin-right:10px;
    font-size:18px;
}